#graph {
  height: 600px;
  display: auto;
  margin: auto;
}

svg {
  display: block;
  margin: auto;
  border: 5px solid black;
}


.node {
  fill: #1e88e5;
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}
